<section class="info-section" id="salud">
  <h2>Tu Salud en Movimiento</h2>
  <h3>Cada paso al aire libre transforma tu bienestar físico y mental</h3>
  <p>
    La actividad física regular en entornos verdes reduce hasta un 30% el riesgo de enfermedades
    cardíacas y mejora significativamente la salud cardiovascular. Caminar o andar en bicicleta 150
    minutos semanales, como recomienda la OMS, fortalece tu corazón, controla la presión arterial y
    aumenta tu esperanza de vida.
  </p>
  <p>
    El contacto con la naturaleza durante el ejercicio libera endorfinas que disminuyen el estrés en
    un 50% y mejoran tu estado de ánimo de forma inmediata. Solo 20 minutos en zonas verdes bastan
    para reducir la ansiedad, mejorar la calidad del sueño y potenciar tu salud mental de manera
    natural.
  </p>
  <p>
    Estos espacios verdes urbanos también fortalecen la comunidad, creando entornos seguros que
    fomentan la interacción social y el sentido de pertenencia. Contribuimos al ODS 3 promoviendo
    hábitos saludables accesibles para todos, transformando la movilidad en una herramienta de
    bienestar integral.
  </p>
</section>

<!--sección 4 | #ambiente-->
<section class="info-section" id="ambiente">
  <h2>Impacto Ambiental Positivo</h2>
  <h3>Cada ruta verde es un paso hacia ciudades más sostenibles y saludables</h3>
  <p>
    Al promover la movilidad activa, reducimos significativamente las emisiones contaminantes. Un
    solo recorrido de 5km en bicicleta en lugar de auto evita la liberación de 1kg de CO₂ a la
    atmósfera, mejorando la calidad del aire urbano y combatiendo el cambio climático desde tu
    rutina diaria.
  </p>
  <p>
    Estas rutas verdes conservan y valorizan los espacios naturales urbanos, actuando como
    corredores ecológicos que preservan la biodiversidad local. Al utilizar y promover estos
    caminos, contribuyes directamente a la protección de pulmones verdes esenciales para ciudades
    más habitables y resilientes.
  </p>
  <p>
    Nuestro enfoque se alinea con el ODS 11 para crear ciudades inclusivas, seguras y sostenibles.
    Al transformar la movilidad urbana, no solo reducimos la contaminación acústica y ambiental,
    sino que construimos comunidades más conscientes y conectadas con su entorno natural.
  </p>
</section>
