/*=======================================================================================*/
/* INFO SECTION */
.info-section {
  margin: 60px 0; /* Márgenes superior e inferior */
  padding: 30px 0; /* Padding superior e inferior */
}

.info-section h3 {
  margin-bottom: 20px; /* Espacio debajo del título */
}
