<footer class="main-footer">
  <div class="footer-content">
    <article class="footer-brand">
      <h3>GreenPaths</h3>
      <ul class="social-icons">
        <li><a href="#"><img src="assets/img/logo-facebook.png" alt="facebook"></a></li>
        <li><a href="#"><img src="assets/img/logo-linkedin.png" alt="linkedin"></a></li>
        <li><a href="#"><img src="assets/img/logo-youtube.png" alt="youtube"></a></li>
        <li><a href="#"><img src="assets/img/logo-instagram.png" alt="instagram"></a></li>
      </ul>
    </article>
    
    <article class="footer-links">
      <h3>Explora GreenPaths</h3>
      <ul>
        <li><a (click)="scrollToSection('inicio')">Inicio</a></li>
        <li><a (click)="scrollToSection('rutas')">Rutas</a></li>
        <li><a (click)="scrollToSection('salud')">Salud</a></li>
        <li><a (click)="scrollToSection('ambiente')">Ambiente</a></li>
        <li><a (click)="scrollToSection('contribuye')">Contribuye</a></li>
        <li><a (click)="scrollToSection('nosotros')">Nosotros</a></li>
      </ul>
    </article>
  </div>
</footer>