<footer class="main-footer">
  <div class="footer-content">
    <article class="footer-brand">
      <h3>GreenPaths</h3>
      <ul class="social-icons">
        <li>
          <a href="#"><img src="logo-facebook.png" alt="facebook" /></a>
        </li>
        <li>
          <a href="#"><img src="logo-linkedin.png" alt="linkedin" /></a>
        </li>
        <li>
          <a href="#"><img src="logo-youtube.png" alt="youtube" /></a>
        </li>
        <li>
          <a href="#"><img src="logo-instagram.png" alt="instagram" /></a>
        </li>
      </ul>
    </article>
    <article class="footer-links">
      <h3>Explora GreenPaths</h3>
      <ul>
        <li><a href="#inicio" data-scroll>Inicio</a></li>
        <li><a href="#rutas" data-scroll>Rutas</a></li>
        <li><a href="#salud" data-scroll>Salud</a></li>
        <li><a href="#ambiente" data-scroll>Ambiente</a></li>
        <li><a href="#contribuye" data-scroll>Contribuye</a></li>
        <li><a href="#nosotros" data-scroll>Nosotros</a></li>
      </ul>
    </article>
  </div>
</footer>
