<section class="cards-section" id="rutas">
  <h2>Rutas Verdes</h2>
  <h3>Descubre los mejores recorridos ecológicos en tu ciudad</h3>
  <p>
    Nuestro equipo selecciona cuidadosamente las mejores rutas que combinan seguridad, belleza
    natural y beneficios para tu salud. Cada ruta está categorizada por tipo y dificultad para que
    encuentres la perfecta para ti.
  </p>
  <div class="cards-grid">
    <article class="card-route">
      <img src="ParqueMetropolitanoSimonBolivar.jpg" alt="Parque Metropolitano Simon Bolivar" />
      <div class="card-content">
        <h3>Ruta Parque Simón Bolívar</h3>
        <p>
          El "pulmón verde" de Bogotá. Ideal para trotar, montar en bici, pícnics y grandes eventos.
        </p>

        <h4>Detalles de la Ruta</h4>
        <ul>
          <li><p>Calle 63 #48-17 (Localidad de Teusaquillo)</p></li>
          <li><p>Caminata y Bicicleta (Pista de trote y ciclopaseo natural)</p></li>
        </ul>

        <a href="#inicio" class="boton" onclick="mostrarRuta('simon-bolivar')">Ver Ruta</a>
      </div>
    </article>

    <article class="card-route">
      <img src="ParqueMetropolitanoSimonBolivar.jpg" alt="Parque Metropolitano Simon Bolivar" />
      <div class="card-content">
        <h3>Ruta Parque Simón Bolívar</h3>
        <p>
          El "pulmón verde" de Bogotá. Ideal para trotar, montar en bici, pícnics y grandes eventos.
        </p>

        <h4>Detalles de la Ruta</h4>
        <ul>
          <li><p>Calle 63 #48-17 (Localidad de Teusaquillo)</p></li>
          <li><p>Caminata y Bicicleta (Pista de trote y ciclopaseo natural)</p></li>
        </ul>

        <a href="#inicio" class="boton" onclick="mostrarRuta('simon-bolivar')">Ver Ruta</a>
      </div>
    </article>

    <article class="card-route">
      <img src="ParqueMetropolitanoSimonBolivar.jpg" alt="Parque Metropolitano Simon Bolivar" />
      <div class="card-content">
        <h3>Ruta Parque Simón Bolívar</h3>
        <p>
          El "pulmón verde" de Bogotá. Ideal para trotar, montar en bici, pícnics y grandes eventos.
        </p>

        <h4>Detalles de la Ruta</h4>
        <ul>
          <li><p>Calle 63 #48-17 (Localidad de Teusaquillo)</p></li>
          <li><p>Caminata y Bicicleta (Pista de trote y ciclopaseo natural)</p></li>
        </ul>

        <a href="#inicio" class="boton" onclick="mostrarRuta('simon-bolivar')">Ver Ruta</a>
      </div>
    </article>
  </div>
</section>
